html,
body {
  background-color: black;
}

#HomepageRow {
  background-image: url("./Images/TrumpHomePage.jpg");
  background-size: contain;
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  padding-bottom: 5%;
  padding-left: 3%;
}

#HomepageRow h1 {
  font-size: 100px;
  color: #c22822;
  
}

#HomepageRow h2 {
  color: white;
  
}
.link{
  color: black;
}


#HomepageSvg {
  margin-left: -5%;
  margin-right: -12px;
  overflow: hidden;
  background-color: rgb(233, 229, 222);
  ;

}

.HomepageArticlesRow {
  padding: 3% 5% 3% 5%;
  background-color: rgb(233, 229, 222);
  display: flex;
  align-items: flex-end;
}

.HomepageArticlesRow:nth-of-type(odd){
  flex-direction: row-reverse;
  background-color: #222;
}

.HomepageArticlesRow:nth-of-type(odd) p, .HomepageArticlesRow:nth-of-type(odd) h2{
  color: #EEE;
}

.HomepageArticleImageCol {
  display: flex;
  justify-content: center;
}

  .HomepageArticleImageCol:hover{
    transform: scale(1.05);
    cursor: pointer;
  }

  .HomepageArticleImageCol {
    transition: transform 0.5s;
  }
#HomepageAuthors {
  text-shadow: #bc2f2f;
}

.HomepageArticleText:hover{
  text-decoration: underline;
  cursor: pointer;
}


.sticky-md {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.sticky-md a {
  margin: 5%;
  color: inherit;
}

#article-title-row {
  background-color: #303030;
  overflow: hidden;
}

.article-title-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

.article-title-col h1 {
  color: white;
  margin-left: 10%;
  margin-right: 10%;
}

@media screen and (max-width: 768px) {
  .article-title-col{
    height: 50vh;
  }
  
}

.article-title-col p{
  color: white;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
}

.article-title-col img {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  
  
}


.article-content {
  padding: 5%;
  text-align: justify;
}

.article-image {
  width: 100%;
}

.sticky-md{
  display: flex;
  align-items: center;
}

.article-block{
  display: flex;
  flex-direction: column;
  align-items: center; 
  padding: 10px 0 10px 0;
  
}

